---
import MainLayout from "../layouts/MainLayout.astro";
import Banner from "../components/Banner.astro";
import Quote from "../components/Quote.astro";
---

<MainLayout title="About us" metaDescription="Read abut the BRØG app, and learn more about the creaters behind the popular coffee rating app!">

  <!-- Centrering af h1 -->
  <div class="flex justify-center items-center my-8">
    <h1 class="text-[5vw] text-blue-500 text-center sm:text-[40px] lg:text-[90px]">ABOUT US</h1>
  </div>

  <Banner overskrift="VISION"></Banner>

 <!-- HVEM/HVAD ER BRØG -->

  <div class="mx-auto grid grid-cols-1 md:grid-cols-2 gap-6 items-center mt-0 font-mont border-b-4 border-blue-500">
    
    <!-- Blå boks billede -->
    <div class="bg-blue-500 flex justify-center items-center p-10 h-auto sm:h-[625px] lg:h-[px400] xl:h-[530px]">
      <img 
        src="/broeg-hvid.png" 
        alt="Coffee Cup" 
        class="max-h-[300px] sm:max-h-[400px] object-contain"
      />
    </div>

    <!-- Teksten -->
    <div class="text-[13px] leading-7 md:leading-9 px-4 md:px-6 sm:text-[13px] lg:text-[15px] lg:px-10 xl:text-[16px] my-3 mb-14">
      <p>
        BRØG is a mobile knowledge sharing platform for all who enjoy a good
        cup of coffee. It allows you to scan a bag of coffee beans and
        instantly access a wealth of information on how others have rated and
        reviewed the same coffee, helping you gauge the overall quality,
        popularity, and aromatic notes of the product.
      </p>
      <p class="mt-4 lg:mb-1 ">
        Based on your preferences and past ratings, BRØG uses Artificial
        Intelligence to create personalized coffee recommendations, making it
        easier to discover new coffees more suitable to your taste. BRØG
        supports ethical and sustainable coffee consumption by highlighting
        information about sustainable and ethical coffee sourcing practices,
        enabling you to support responsible coffee producers.
      </p>
    </div>
  </div>

  <Quote quote=" Changing the way you choose your coffee."></Quote>

  <div class="mt-10">
    <Banner overskrift="DREAM TEAM"></Banner>
    </div>

    <!-- DREAM TEAM DEL -->

  <div class="mx-auto grid grid-cols-1 md:grid-cols-2 gap-6 items-center font-mont border-b-4 border-blue-500 mb-40">
    
    <div class="text-[13px] leading-7 md:leading-9 px-4 md:px-6 sm:text-[13px] lg:text-[15px] lg:px-16 xl:text-[16px] my-3">
      
        <h1 class="text-[20px] text-blue-500 font-bold py-5 lg:text-[34px]">MEET THE (DREAM) TEAM</h1>

           <p> This is Caroline & Clara.</p>
           <p class="mt-2 lg:mb-1"> We met in 2020, when we enrolled on our bachelor within Business Administration and IT. Since then, many school projects and, more importantly, many memories have been made together. BRØG is our latest adventure, and we can't wait to have you onboard</p>
    </div>

    
    <!-- Blå boks billede -->
    <div class="bg-blue-500 flex justify-center items-center p-10 h-auto sm:h-[625px] lg:h-[px400] xl:h-[530px]">
      <img 
        src="/broegpiger.png" 
        alt="Coffee Cup" 
        class="max-h-[300px] sm:max-h-[400px] object-contain"
      />
    </div>
  </div>

  

</MainLayout>
