---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Contact from "./contact.astro";
import Products from "../components/Products.astro";
import Banner from "../components/Banner.astro";
---
<MainLayout title="Titel">
	<article>
		<p class="bg-purple-300">Index indhold</p>
	<section class="products">
		
<Banner overskrift="TEST"></Banner>
		
<Button variant="primary">hej med dig</Button>
	</section>	</article>

</MainLayout>


