---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Contact from "./contact.astro";
import Products from "../components/Products.astro";
---
<MainLayout title="Titel">
	<article>
		<p>Index indhold</p>
	<section class="products">

		
	</section>	</article>

</MainLayout>


