---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Banner from "../components/Banner.astro";
import Quote from "../components/Quote.astro";
import Test from "../components/Test.astro";
import Video from "../components/Video.astro";
import Download from "../components/Download.astro";
import FirstBox from "../components/FirstBox.astro";
import SecondBox from "../components/SecondBox.astro";
import Review from "../components/Review.astro";

const data = await fetch(
  "https://innnjxyaqyjceucizpxl.supabase.co/rest/v1/products?limit=2&offset=0",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imlubm5qeHlhcXlqY2V1Y2l6cHhsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzI1MzM3NDQsImV4cCI6MjA0ODEwOTc0NH0.j0GJ0nKDs09Qd39B_PxaBwDX69ZrOxYTNXPoTfzAWbI",
    },
  }
).then((res) => res.json());
---

<MainLayout title="Download BRØG app" metaDescription="Read about out coffe app, BRØG. Get a peek at our Coffemap. View our custom coffe merchandise">
  <Video />
  
<!-- første box start -->
  <FirstBox />
<!-- første box slut -->

  <!-- Quote start -->
  <div class="md:mt-[-10rem] mb-16">
  <Quote quote="LIFE IS LIKE A CUP OF COFFEE IT’S ALL ABOUT HOW YOU MAKE IT" />
  </div>
  <!-- Quote slut -->

  <!-- kort section start -->
<SecondBox />
  <!-- kort section slut -->

  <!-- Banner start -->
  <div>
  <Banner overskrift="BRØG MARKET" />
  </div>
  <!-- Banner slut -->

  <!-- Shop section start -->
  <section
    class="produkter flex flex-wrap justify-center items-center gap-7 mt-20 max-w-[60rem] mx-auto mb-[50px]"
  >
    {
      data.map((produkt) => {
        return <Test data={produkt} />;
      })
    }
  </section>

  <div class="flex justify-center items-center gap-4 mb-14">
	<h3 class="text-blue-500 font-bold text-[20px] md:text-[24px] lg:text-[34px]">Click to see more here</h3>
	
	<a href="/products" >
	<Button variant="secondary" >
    <img
      class="h-5 w-5 flex justify-center items-center pl-1 md:h-6 md:w-6 xl:h-7 lg:w-7"
      src="/arrow.png"
      alt="Pil"
    />
  </Button>
  </a>
  </div>

  <!--Shop section slut -->

 <!-- Banner start -->
  <Banner overskrift="BREW NOTES" />
  <!-- Banner slut -->

   <!-- Review start -->
  <Review />
   <!-- Review slut -->


  <Download></Download>
</MainLayout>
