---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Contact from "./contact.astro";
import Banner from "../components/Banner.astro";
import Quote from "../components/Quote.astro";
import Test from "../components/Test.astro"


const data = await fetch(
    "https://innnjxyaqyjceucizpxl.supabase.co/rest/v1/products", 
    {
    method:"GET",
    headers: {
        apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imlubm5qeHlhcXlqY2V1Y2l6cHhsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzI1MzM3NDQsImV4cCI6MjA0ODEwOTc0NH0.j0GJ0nKDs09Qd39B_PxaBwDX69ZrOxYTNXPoTfzAWbI"
    },
}
).then((res) => res.json());
---
<MainLayout title="Titel">

	<section class="produkter">
		{data.map(produkt=>{
			return <Test data={produkt}/>;
		})}
		
	</section>
	
	<article>
		<p class="bg-purple-300">Index indhold</p>
	<section class="products">
		
<Banner overskrift="TEST"></Banner>
		
<Button variant="primary">hej med dig</Button>
<Button variant="secondary">
	<img class="h-5 w-5 flex justify-center items-center pl-1 md:h-6 md:w-6 xl:h-7 lg:w-7" src="/arrow.png" alt="">
</Button>
	</section>	</article>

	
	<Quote quote="LIFE IS LIKE A CUP OF COFFEE IT’S ALL ABOUT HOW YOU MAKE IT"></Quotequote></Quote>

	

	


</MainLayout>


