---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Contact from "./contact.astro";
import Banner from "../components/Banner.astro";
import Quote from "../components/Quote.astro";
import Test from "../components/Test.astro"


---
<MainLayout title="Titel">
	<article>
		<p class="bg-purple-300">Index indhold</p>
	<section class="products">
		
<Banner overskrift="TEST"></Banner>
		
<Button variant="primary">hej med dig</Button>
<Button variant="secondary">
	<img class="h-5 w-5 flex justify-center items-center pl-1 md:h-6 md:w-6 xl:h-7 lg:w-7" src="/arrow.png" alt="">
</Button>
	</section>	</article>

	
	<Quote quote="LIFE IS LIKE A CUP OF COFFEE IT’S ALL ABOUT HOW YOU MAKE IT"></Quotequote></Quote>

	

	
<Test />

</MainLayout>


