---
const { variant= "primary", size = "medium", ariaLabel = "" } = Astro.props; 

const buttonStyling = "text-cream-500 bg-brown-500 font-mont font-bold text-[13px] md:text-[23px] xl:text-[40px]"; 


const variantClasses = {
    "primary": "px-5 py-2 hover:animate-spin",
    "secondary": "rounded-full p-2 md:p-3 xl:p-4"
};
---
<button     class:list={[buttonStyling, variantClasses[variant]]} 
aria-label={ariaLabel}><slot /></button>