---
const { variant= "primary", size = "medium" } = Astro.props; 

const buttonStyling = "text-cream-500 bg-brown-500 font-mont font-bold text-[13px] md:text-[23px] xl:text-[40px]"; 


const variantClasses = {
    "primary": " hover:animate-spin",
    "secondary": "bg-lime-500 hover:bg-lime-700"
};
---
<button class:list={[buttonStyling, variantClasses[variant]]}><slot /></button>