---
import Button from "./Button.astro"
---


<section class="flex flex-row justify-center items-center">
<img src="/broeggif.gif" alt="">

<div>
<p class="font-mont text-blue-500 font-bold text-[20px]">Read more in the BRØG app</p>
<Button variant="primary">Download now</Button>
</div>
<img src="/broeggif.gif" alt="">
</section>