---
import Button from "./Button.astro"
---


<section class="grid grid-cols-[auto,1fr] items-center gap-4">
<img class="h-36 m-5" src="/broeggif.gif" alt="">

<div class="flex flex-col justify-center items-center ">
<p class="font-mont mb-4 text-blue-500 font-bold text-[16px] ">Read more in the BRØG app</p>

<Button variant="primary">Download now</Button>
</div>
<img class="hidden" src="/broeggif.gif" alt="">
</section>