
  <!-- Main Section -->
  <main class="flex flex-col md:flex-row items-center md:justify-between p-8 gap-8 border-b-4 border-blue-500">
    
    <!-- Left Content -->
    <div class="flex-1">
      <h2 class="text-blue-900 text-4xl font-bold">GOOD COFFEE<br>FOR EVERYONE</h2>
      <p class="text-gray-600 mt-4">Download the BRØG app here: <a href="#" class="text-blue-500 underline">link</a></p>
      <p class="text-gray-600">Read more about BRØG here</p>
      <button class="mt-4 bg-[#d4b89f] text-white px-4 py-2 rounded">Download now</button>
    </div>

    <!-- Right Image -->
    <div class="flex-1 flex justify-center">
      <img src="cup-illustration.svg" alt="Cup Illustration" class="h-40">
    </div>
  </main>


