---
---
<div class="flex items-center justify-center font-mont mt-7">
  
    <!-- Logo - kun på web -->
  <div class="absolute top-0 left-4 hidden lg:block">
    <a href="/">
      <img src="/broeg-kop2.png" alt="Logo" class="h-14 w-auto mt-6 ml-5" />
    </a>
  </div>


  <!-- Navbar -->
  <nav class="bg-blue-500 text-cream-500 rounded-full px-10 py-4 shadow-md flex items-center space-x-11 text-[12px] md:text-[15px] md:px-16 md:space-x-16">
    <a href="#about" class="font-medium hover:underline">About us</a> 
    <a href="#market" class="font-medium hover:underline">BRØG Market</a> 
    <a href="#contact" class="font-medium hover:underline">Contact</a> 
    
    <!-- Cart Icon -->
   <a href="#cart" class="font-medium hover:underline flex items-center">
  <img src="/cart.png" alt="Cart" class="h-5 w-5 ml-2" />
</a>
  </nav>
</div>