---
const {quote} = Astro.props;
---
<div class="font-mont text-blue-500 font-bold">
    <p class="text-[67px] xl:text-[250px] md:text-[130px]">“</p>
<p class=" text-[27px] md:text-[45px] xl:text-[75xl]">{quote}</p>

</div>