<section>
  <div
    class="h-[500px] flex items-center justify-center border-b-4 border-blue-500 my-[170px] md:my-0"
  >
    <!-- Container for begge bokse -->
    <div class="flex flex-col md:flex-row w-full justify-between">
      <!-- Første boks -->
      <div
        class="relative flex items-center w-full md:w-full md:h-[500px] mb-16 md:mb-0 px-8 xl:ml-[20px] md:mr-6 xl:w-[650px]"
      >
        <!-- Venstre tekst "CAFE" -->
        <div
          class="flex items-center justify-center absolute left-[-15px] top-[15px] rotate-[-90deg] text-blue-500 font-bold text-[20px] tracking-widest md:left-[-15px] md:top-[140px] lg:text-[25px] lg:top-[110px] lg:left-[-23px] xl:text-[34px] xl:left-[-47px] xl:top-[117px]"
        >
          CAFE
        </div>

        <!-- Anmeldelse boks -->
        <div
          class="border-blue-500 border-4 shadow-lg p-4 flex items-center text-blue-500 w-full h-[250px] lg:h-[315px]"
        >
          <!-- Billede -->
          <img
            src="/kaffe.jpg"
            alt="Kaffe"
            class="w-[150px] h-[150px] lg:w-[230px] lg:h-[230px]"
          />
          <div class="ml-6 text-left">
            <h2 class="text-[20px] font-bold lg:text-[25px] xl:text-[34px]">
              Zara Karim
            </h2>
            <p class="text-[13px] mt-2 lg:text-[13px]">
              The personalized coffee recommendations have been spot on for me
            </p>
          </div>
        </div>
      </div>

      <!-- Anden boks -->
      <div
        class="relative flex items-center w-full md:w-full h-[390px] md:h-[500px] lg:h-[500px] bg-blue-500 px-8 xl:pl-[4rem] md:ml-6 xl:w-[700px]"
      >
        <!-- Venstre tekst "COFFEE" -->
        <div
          class="flex items-center justify-center absolute left-[-32px] top-[100px] rotate-[-90deg] text-cream-500 font-bold text-[20px] tracking-widest md:left-[-31px] md:top-[155px] lg:text-[25px] lg:top-[130px] lg:left-[-43px] xl:text-[34px] xl:left-[-45px] xl:top-[143px]"
        >
          COFFEE
        </div>

        <!-- Anmeldelse boks -->
        <div
          class="border-cream-500 border-4 shadow-lg p-4 flex items-center text-cream-500 w-full h-[250px] lg:h-[315px]"
        >
          <!-- Billede -->
          <img
            src="/kaffelatte.png"
            alt="Kaffe"
            class="w-[150px] h-[150px] lg:w-[230px] lg:h-[230px]"
          />
          <div class="ml-6 text-left">
            <h2 class="text-[20px] font-bold lg:text-[25px] xl:text-[34px]">
              Ida Mikkelsen
            </h2>
            <p class="text-[13px] lg:text-[13px] mt-2">
              Love the community aspect – it feels great to connect with fellow coffee lovers
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
