---

import MainLayout from '../../layouts/MainLayout.astro';




export async function getStaticPaths() {
  const data = await fetch("https://innnjxyaqyjceucizpxl.supabase.co/rest/v1/products", {
    method:"GET",
    headers: {
        apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imlubm5qeHlhcXlqY2V1Y2l6cHhsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzI1MzM3NDQsImV4cCI6MjA0ODEwOTc0NH0.j0GJ0nKDs09Qd39B_PxaBwDX69ZrOxYTNXPoTfzAWbI"
    },
}).then(response => response.json());

  return data.map((product) => {
    return {
      params: { slug: product.slug },
      props: { myData:product },
    };
  });
}

const {myData} = Astro.props;
console.log(myData);

---

<MainLayout title={myData.name}>
<h2>{myData.name}</h2>
<h4>{myData.price}</h4>


</MainLayout>

